{% extends 'layout.html' %}

{% block content %}
    <h2 align="center">Write your form here</h2>
    <form action="addForm" method="get">
        <div class="form-group">
            <label for="">form name</label>
            <input type="text" class="form-control" name='name'>
        </div>
        <div class="form-group">
            <label for="">form details</label>
            <input type="text" class="form-control" name='description'>
        </div><br>
        <input type="submit" value="saving form" class="btn btn-primary">
    </form>
{% endblock %}