{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1><b><center>Login</center></b></h1>
    </div>
    {% if messages %}
        <div class="class alert alert-danger" role="alert">
            {% for message in messages %}
                <b>{{message}}</b><br>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">
            <form method='POST'>
                {% csrf_token %}
                <div class="form-group w-50">
                    <label for="user-name">Username:</label>
                    <input type="username" class="form-control" placeholder="Enter username" id="user-name" name="user-name">
                </div>
                
                <div class="form-group w-50">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" placeholder="Enter password" id="password" name="password">
                </div>
                
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
    </div>
{% endblock %}